
/* Layout */


/*body {
	font-family: 'arial', 'helvetica', sans-serif;
}
*/
body {
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.left {
    background-color: aquamarine;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
}

.interface {
	text-align: center;
	padding: 20px;
}

.right {
    background-color: aliceblue;
    position: fixed;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
}

/* Rocket */

.rocket {
	position: absolute;
	left: 50%;
	bottom: -2px;
	z-index: 999;
	width: 143px;
	height: 272px;
	margin-left: -71.5px;
	background: url('../img/rocket-state1.png') no-repeat 0 0;
	transition: 980ms;
}

/*rocket bg image */
body.body-state2 .rocket{
	background: url('../img/rocket-state2.gif') no-repeat 0 0;	
}

body.body-state3 .rocket,
body.body-state4 .rocket{
	background: url('../img/rocket-state3.gif') no-repeat 0 0;	
}



body.body-state1 .rocket{
	transition: none;
}

body.body-state5 .rocket{
	background: url('../img/boom.png') no-repeat 0 0;
	width: 209px;
	height: 200px;
	margin-left: -104.5px;
}


body.body-state3 .rocket,
body.body-state4 .rocket{
	bottom: 1000px;
}

/*.rocket.flying{
	bottom: 10000ms;
}*/


/* States */

.state1, .state2, .state3, .state4, .state5 {
	display: none;
}

body.body-state1 .state1 { display: block; }
body.body-state2 .state2 { display: block; }
body.body-state3 .state3 { display: block; }
body.body-state4 .state4 { display: block; }
body.body-state5 .state5 { display: block; }


.ground {
	background: url('../img/ground.png') no-repeat center 0;
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	height: 20px;
}


.nervous {
	position: absolute;
	left: 50%;
	bottom: 220px;
	background: url('../img/nervous.png') no-repeat 0 0;
	width: 223px;
	height: 100px;
	margin-left: 180px;
	display: none;
}

.nervous .show {
	display: block
}

.cant-wait {
	position: absolute;
	left: 50%;
	bottom: 220px;
	background: url('../img/cant-wait.png') no-repeat 0 0;
	width: 206px;
	height: 65px;
	margin-left: 180px;
/*	display: none;*/
}

.cant-wait .show {
	display: block
}

a {

}


a.button {
	display: inline-block;
	background-color: white;
	padding: 20px 40px;
	text-decoration: none;
	border-radius: 10px;
	color: black;
	text-transform: uppercase;
	color: transition: 300ms;
}


a.hover {
	color: red;
}



